// Breakpoints
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-laptops: 1200px;

// Colors
$white: #ffffff;
$yellow: #ffe904;
$turquoise: #10cfc9;
$brown: #99572e;
$black: #000000;

// sizes
$whitespace-margin: 60px;
$tilerow-margin: 2.5px;
$footer-top-margin: 100px;