// Breakpoints
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-laptop: 1200px;

// Colors
$white: #ffffff;
$yellow: #ffe904;
$turquoise: #10cfc9;
$brown: #99572e;
$black: #000000;

// sizes
$whitespace-margin: 60px;
$tilerow-margin: 2.5px;
$footer-top-margin: 100px;
$column-margin: 10px;
$column-padding-right: 70px;
$batch-padding: 0 10px;
$batch-margin-right: 5px;
$koafilterbutton-margin-right: 50px;
$koafilterbutton-margin-bottom: 10px;
$ammount-selector-button-padding: 12px;
$offerbanner-padding: 16px;
$offerbanner-padding-right: 64px;
$textinput-height: 57px;
$textinput-padding: 14px;
$textinput-font-size: 15px;
$textareainput-height: 114px;
$textareainput-padding: 14px;
$textareainput-font-size: 15px;
$textareainput-line-height: 1.67;
$dropdownInput-height: 34px;
$dropdownInput-padding: 7px 10px;
$dropdownInput-font-size: 15px;
$dropdownInput-border-radius: 0;
$dropdownInput-background-color: #10cfc9;
$dropdownInput-color: $black;